

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

/*MAIN footer stast*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hachi Maru Pop', cursive;
}

#main-footer{
    display: flex;
    justify-content: right;
    padding-top: 6%;
    width: 100%;
}